<div class="animate__animated animate__fadeIn">
    <h2> Search by country</h2>
    <hr>
    <div class="row">
        <div class="col">
        <app-country-input 
                (onEnter) = "search( $event )"
                (onDebounce) = "sugerences( $event );"
                placeholder = "Search country...">
            </app-country-input>
        </div>
    </div>

    <ul class="list-group">
        <li 
            *ngFor = 'let country of countriesSuggested' 
            class="list-group-item list-group-item-action"
            (click) = "search( country.name )">
            {{ country.name }}    
        </li>
    </ul>

    <hr>
</div>
<!-- In case the search doesn't exist -->
<div
    *ngIf="isError"
    class="alert alert-danger">
    No coincidence with {{ value }}
</div>

<!-- In case it does exist -->
<div
    *ngIf = "countries.length >= 1"
    class="row">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>