<table class="table table-bordered animate__animated animate__fadeInUp">
    <thead>
        <tr>
            <th> Id </th>
            <th> Flag </th>
            <th> Name </th>
            <th> Capital </th>
            <th> Region </th>
            <th> Subregion </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let country of countries; let i = index">
            <td> {{ i + 1 }}</td>
            <td>
                <img class="small-flag" [src] = "country.flags[0]">
            </td>
            <td>{{ country.name.common }} </td>
            <td>{{ country.capital }}</td>
            <td>{{ country.region }}</td>
            <td>{{ country.subregion }} </td>
        </tr>
    </tbody>
</table>