<div class="bg-dark border-right" id="sidebar">
  <h2 class="text-light">Countries Search App</h2>
  <hr>
  <ul class="list-group">
    <li
      routerLink=""
      routerLinkActive='active'
      [routerLinkActiveOptions]="{exact:true}" 
      class="list-group-item list-group-item-action list-group-item-dark">
      By name
    </li>
    <li
      routerLink="capital"
      routerLinkActive='active'
      class="list-group-item list-group-item-action list-group-item-dark">
      By capital
    </li>
    <li
      routerLink='continent'
      routerLinkActive='active'
      class="list-group-item list-group-item-action list-group-item-dark">
      By continent
    </li>
  </ul>
</div>
