<h2>Searches</h2>
    <hr>
    <ul class="list-group">
      <li
        routerLink=""
        routerLinkActive='active'
        [routerLinkActiveOptions]="{exact:true}" 
        class="list-group-item">
        By name
      </li>
      <li
        routerLink="capital"
        routerLinkActive='active'
        class="list-group-item">
        By capital
      </li>
      <li
        routerLink='continent'
        routerLinkActive='active'
        class="list-group-item">
        By continent
      </li>
    </ul>